<header>
    <nav>
        <div class="container-up">
            <h3 class="logo">Magnolia<span>Hub</span></h3>
        </div>
    </nav>

    <h1 class="big-title translate" data-speed="0.1">Rediscover art.</h1>

    <img src="../../assets/img/Wave1.png" class="mountain1 translate" data-speed="-0.2" alt="">
    <img src="../../assets/img/Wave2.png" class="mountain2 translate" data-speed="0.4" alt="">
    <img src="../../assets/img/Wave3.png" class="mountain3 translate" data-speed="0.3" alt="">
    <img src="../../assets/img/sky_full.jpg" class="sky translate" data-speed="0.5" alt="">

    <label>
        <input type="checkbox">
        <span class="menu"> <span class="hamburger"></span> </span>
        <ul>
            <li *ngIf="!log"> <a href="">home</a> </li>
            <li *ngIf="!log"> <a href="login">log in</a> </li>
            <li *ngIf="!log"> <a href="signup">sign up</a> </li>
            <li *ngIf="!log"> <a href="top">top 5</a> </li>
            <li *ngIf="!log"> <a href="all-workshops">all workshops</a> </li>
            <li *ngIf="log && !org"> <a href="">home</a> </li>
            <li *ngIf="log && !org"> <a href="my-profile">my profile</a> </li>
            <li *ngIf="log && !org"> <a href="my-workshops">my workshops</a> </li>
            <li *ngIf="log && !org"> <a href="all-workshops">all workshops</a> </li>
            <li *ngIf="log && !org"> <a href="top">top 5</a> </li>
            <li *ngIf="log && !org"> <a href="passch">change password</a> </li>
            <li *ngIf="log && !org"> <a href="propose-workshop">become organizer</a> </li>
            <li *ngIf="log && !org"> <a href="#" (click)="logOut()">log out</a> </li>
            <li *ngIf="org"> <a href="organizer/my-workshops">my workshops</a></li>
            <li *ngIf="org"> <a href="organizer/create-workshop">create workshop</a></li>
            </ul>
        </label>
</header>

<section>
    <div class="shadow"></div>

    <div class="container-up">
        <div class="content opacity">
            <h3 class="title">
                About
                <div class="border"></div>
            </h3>
            <p class="text">Welcome to our creative art workshops website, where you can explore your passion for art and crafts with our expert instructors. Our workshops offer a range of mediums to choose from, including mosaic building, ceramic vase making, and bookbinding.</p>
        </div>

        <div class="imgContainer opacity">
            <img src="img/image.jpg" alt="">
        </div>
    </div>
    <!--<div class="container-fluid">
        <div class="row">
            <div class="col-xxl-4">
                One of three columns
            </div>
            <div class="col-xxl-4">
                One of three columns
            </div>
            <div class="col-xxl-4">
                One of three columns
            </div>
        </div>
    </div>-->
</section>