<header>
    <nav>
        <div class="container-up">
            <h3 class="logo">Magnolia<span>Hub</span></h3>
        </div>
    </nav>

    <gallery [items]="items" thumbPosition="left"></gallery>

    <div class="container gallery-container">

        <div class="tz-gallery">

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="assets/img/images/bridge.jpg">
                        <img src="assets/img/images/bridge.jpg" alt="Bridge">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="assets/img/images/park.jpg">
                        <img src="assets/img/images/park.jpg" alt="Park">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="assets/img/images/tunnel.jpg">
                        <img src="assets/img/images/tunnel.jpg" alt="Tunnel">
                    </a>
                </div>
                <div class="col-sm-12 col-md-8">
                    <a class="lightbox" href="assets/img/images/traffic.jpg">
                        <img src="assets/img/images/traffic.jpg" alt="Traffic">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="assets/img/images/coast.jpg">
                        <img src="assets/img/images/coast.jpg" alt="Coast">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="assets/img/images/rails.jpg">
                        <img src="assets/img/images/rails.jpg" alt="Rails">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <label>
    <input type="checkbox" style="display:none">
    <span class="menu"> <span class="hamburger"></span> </span>
    <ul>
      <li> <a href="#">home</a> </li>
      <li> <a href="#">about</a> </li>
      <li> <a href="#">contact</a> </li>
    </ul>
    </label>

</header>