<header>
    <nav>
        <div class="container-up">
            <h3 class="logo">Magnolia<span>Hub</span></h3>
        </div>
    </nav>

    <body>
        <form>
            <h3>Login Here</h3>

            <label for="username">Username</label>
            <input type="text" placeholder="Username" id="username" name="username" [(ngModel)]="username">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="password">

            <h2>{{message}}</h2>

            <button (click)="login()">Log In</button>


        </form>
    </body>

</header>