<header>
    <nav>
        <div class="container-up">
            <h3 class="logo">Magnolia<span>Hub</span></h3>
        </div>
    </nav>

    <body>
        <form>
            <h3>Change password</h3>

            <label for="password">New password</label>
            <input type="password" name="password" [(ngModel)]="password" placeholder="New password">

            <label for="confirm">Confirm new password</label>
            <input type="password" name="confirm" [(ngModel)]="confirm" placeholder="Confirm">

            <h2>{{message}}</h2>

            <button (click)="submitPassword()">Change password</button>
        </form>
    </body>

    <label>
    <input type="checkbox" style="display:none">
    <span class="menu"> <span class="hamburger"></span> </span>
    <ul>
      <li> <a href="#">home</a> </li>
      <li> <a href="#">about</a> </li>
      <li> <a href="#">contact</a> </li>
    </ul>
    </label>

</header>