<header>
    <nav>
        <div class="container-up">
            <h3 class="logo">Magnolia<span>Hub</span></h3>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row row-first">
            <div class="col-lg-8 col-md-12 col-sm-12 text-center resize-text">Workshops</div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center sort">

                <form *ngIf="!searched">
                    <label for="name">Workshop name</label>
                    <input type="text" placeholder="Search by name" id="name" name="name" [(ngModel)]="name">

                    <label for="place">Workshop place</label>
                    <input type="text" placeholder="Search by place" id="place" name="place" [(ngModel)]="place">

                    <button (click)="search()">Search</button>
                </form>
                <form *ngIf="searched">
                    <button class="sort-button" (click)="backToSearch()">Back to search</button>
                    <button class="sort-button" (click)="sortByName()">Sort by name</button>
                    <button class="sort-button" (click)="sortByDate()">Sort by date</button>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let workshop of workshops; index as i">
                <div class="post">
                    <div class="header_post">
                        <img [src]="photos[i]" alt="">
                    </div>

                    <div class="body_post">
                        <div class="post_content">

                            <h1>{{workshop.name}}</h1>
                            <p>{{workshop.short_description}}</p>
                            <div class="container_infos">
                                <div class="postedBy">
                                    <span>location</span> {{workshop.location}}
                                </div>

                                <div class="container_tags">
                                    <span>date</span>
                                    <div class="tags">
                                        <ul>
                                            <li>{{workshop.date}}</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <label>
        <input type="checkbox" style="display:none">
        <span class="menu"> <span class="hamburger"></span> </span>
        <ul>
          <li> <a href="#">home</a> </li>
          <li> <a href="#">about</a> </li>
          <li> <a href="#">contact</a> </li>
        </ul>
        </label>

</header>