<header>
    <nav>
        <div class="container-up">
            <h3 class="logo">Magnolia<span>Hub</span></h3>
        </div>
    </nav>

    <body>
        <form name="form" #f="ngForm" novalidate>
            <div *ngIf="firstPage">
                <h3>Sign Up Here</h3>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="form.email" required email #email="ngModel" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="form.password" required #password="ngModel" />
                </div>
                <div class="form-group">
                    <label for="photo">Photo (optional)</label>
                    <input type="file" (change)="onUpload($event)" name="photo" [(ngModel)]="form.photo" #photo="ngModel" accept="image/*, .jpeg, .png">
                </div>
                <h2 class="error">{{errorMessage}}</h2>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" (click)="next()">Next</button>
                </div>
            </div>

            <div *ngIf="secondPage">
                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" required #firstname="ngModel" />
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" required #lastname="ngModel" />
                </div>
                <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input type="text" class="form-control" name="phone" [(ngModel)]="form.phone" required #phone="ngModel" />
                </div>
                <h2 class="error">{{errorMessage}}</h2>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" (click)="next()">Next</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" (click)="prev()">Previous</button>
                </div>
            </div>


            <div *ngIf="thirdPage">
                <div class="form-group">
                    <label for="type">Type</label>
                    <input type="radio" name="type" class="type" value="1" [(ngModel)]="form.type" #type="ngModel" [checked]="true" (change)="changeType()">
                    <p>User</p>
                    <input type="radio" name="type" class="type" value="2" [(ngModel)]="form.type" #type="ngModel" (change)="changeType()">
                    <p>Organizer</p>
                </div>
                <div class="form-group" *ngIf="isOrganizer">
                    <label for="org_name">Organizer name</label>
                    <input type="text" class="form-control" name="org_name" [(ngModel)]="form.org_name" #org_name="ngModel" />
                </div>
                <div class="form-group" *ngIf="isOrganizer">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" [(ngModel)]="form.address" #address="ngModel" />
                </div>
                <div class="form-group" *ngIf="isOrganizer">
                    <label for="tin">TIN</label>
                    <input type="text" class="form-control" name="tin" [(ngModel)]="form.tin" #tin="ngModel" />
                </div>
                <h2 class="error">{{errorMessage}}</h2>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" (click)="prev()">Previous</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </form>
    </body>

    <label>
    <input type="checkbox" style="display:none">
    <span class="menu"> <span class="hamburger"></span> </span>
    <ul>
      <li> <a href="#">home</a> </li>
      <li> <a href="#">about</a> </li>
      <li> <a href="#">contact</a> </li>
    </ul>
    </label>

</header>