.container-fluid {
    padding-top: 5rem;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

header {
    background-image: url(../../assets/img/starry.jpg);
    background-size: cover;
}

.loginWrapper {
    margin-top: 6rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 35px;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

form {
    width: 400px;
    background-color: rgba(51, 51, 51, 0.9);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    margin-top: 2rem;
}

form * {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    margin-top: 1.5rem;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #d8d803 !important;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

input[type="radio"] {
    height: 20px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 0 0 0;
    margin-top: 8px;
    display: inline;
}

label ul {
    top: 15vh;
}

::placeholder {
    color: #e5e5e5;
}

.alert-danger {
    background-color: #333;
    color: #d8d803 !important;
    text-align: center;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #fa6900;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.type {
    width: 20px;
    display: inline;
}

p {
    display: inline;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}